body {
	font-size: 16px;
	margin: 0 auto;
	text-align: center;
	margin: 0 auto;
}

form {
	margin: 0 auto;
	position: relative;
}

h1 {
	color: #8AC007;
}

input {
	border: 1px solid #8AC007;
	border-radius: 5px;
	color: #8AC007;
	padding: 5px 10px;
}

input[type=submit] {
	background: #8AC007;
	color: #fefefe;
	padding: 5px 20px;
}

#contenedorLogin {
	background: #fefefe;
	border: 3px solid #8AC007;
	border-radius: 10px;
	box-shadow: 2px 2px 5px #8AC007;
	margin: 50px auto;
	padding: 25px;
	width: 20em;
	-webkit-border-radius: 10px;
	border: 3px solid #8AC007;
}